$backgroundListItem: #fff;
$backgroundListItemOver: #416399;


:host {
    padding: 10px;

    input {
        width: 100%;
        padding: 0 5px;
        border-radius: 5px;
        height: 35px;
        font-size: 20px;
        box-shadow: 5px 1px black;
        line-height: 35px;
    }
    ul {
        list-style: none;
        padding: 0;
        display: block;
        border: solid 1px #aaa;
        border-radius: 0 0 3px 3px;
        margin-top: 0;

        li {
            border-bottom: solid 1px #999;
            padding: 3px;
            background: $backgroundListItem;
            height: 30px;
            line-height: 30px;
        }
        li:last-child {
            border-bottom: none;
        }
        li:hover {
            background: $backgroundListItemOver;
            cursor: pointer;
            color: #fff;
        }
    }
}