:host {
    height: 100%;
    width: 100%;

    header {
        height: 80px;
        // box-shadow: 1px 2px #bbbbbb;
        background: #565656;
        color: #ffffff;
        text-align: left;
        font-size: 30px;
        font-weight: bold;
        line-height: 30px;
        padding: 5px 20px;
    }

    footer {
        height: 30px;
        background: #565656;
        color: #ffffff;
    }



    .menubar {
        background: #5656BB;
        color: #ffffff;
    }
}